﻿@using Aviva.FizzBuzzDemo.Views
@model Aviva.FizzBuzzDemo.Models.DisplayListModel

@{
    ViewBag.Title = "DisplayFizzBuzzList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FizzBuzz List</h2>

@section Styles {
    <link href="@Url.Content("~/Content/FizzBuzzStyle.css")" rel="stylesheet" type="text/css" />
}

@foreach (var item in Model.ListValues.ToList())
{
    <div class="@FizzBuzzHelper.GetCssClassForFizzBuzz(item)">@item</div>
}

<div>
    @Html.ActionLink("Back to Input", "Index", "InputValues")
</div>

