﻿@model Aviva.FizzBuzzDemo.Models.InputValuesModel

@{
   Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("DisplayFizzBuzzList", "InputValues", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>InputValuesModel</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Number)
                @Html.TextBoxFor(m => m.Number)
                @Html.ValidationMessageFor(m => m.Number)
            </li>
        </ol>
        <p>
            <input type="submit" value="Print List" />
        </p>
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}